<nav class="navbar navbar-light bg-light" id="top-nav">
    <div class="container-fluid">
        <i class="bi bi-person-circle"></i>
        <a href="{{ url_for('index') }}" class="navbar-brand">pulsè</a>
        <i class="bi bi-share-fill"></i>
        <i class="bi bi-gift-fill"></i>
        <i class="bi bi-bell-fill"></i>
    </div>
</nav>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <i class="bi bi-house-door-fill"></i>
        <i class="bi bi-apple"></i>
        <i class="fa-solid fa-dumbbell"></i>
        <i class="bi bi-currency-dollar"></i>
        <i class="bi bi-credit-card"></i>
    </div>
</nav>