{% extends 'ext/base.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <h1>Add Expense</h1>
    </div>
    <div class="container-fluid d-flex justify-content-center">
            <div class="col-10 bg-light border rounded px-3 py-4">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if transaction %}
                                {{ form.name(class="form-control form-control-lg", value=transaction['name']) }}
                            {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        {% endif %}
                    </div>                    
                    <div class="form-group py-2">
                        {{ form.category.label(class="form-control-label") }}
                        {% if form.category.errors %}
                                {{ form.category(class="form-select form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.category.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if transaction %}
                                {{ form.category(class="form-select form-control-lg", cat=transaction['category']) }}
                            {% else %}
                                {{ form.category(class="form-select form-control-lg") }}
                            {% endif %}
                {% endif %}
                    </div>                    
                    <div class="form-group">
                        {{ form.amount.label(class="form-control-label") }}
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            {% if form.amount.errors %}
                                {{ form.amount(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.amount.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {% if transaction %}
                                {{ form.amount(class="form-control form-control-lg", placeholder='0.00', value=transaction['amount']) }}
                                {% else %}
                                {{ form.amount(class="form-control form-control-lg", placeholder='0.00') }}
                                {% endif %}
                            {% endif %}
                          </div>
                    </div>                    
                    <div class="form-group py-2">
                        {{ form.date.label(class="form-control-label") }}
                        {% if form.date.errors %}
                            {{ form.date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if transaction %}
                            {{ form.date(class="form-control form-control-lg", default=transaction['date']) }}
                            {% else %}
                            {{ form.date(class="form-control form-control-lg") }}
                            {% endif %}
                        {% endif %}
                    </div>            
                    <div class="form-group">
                        {{ form.invoice.label() }}
                        <br>
                        {% if transaction %}
                            {{ form.invoice(class="form-control-file", value=transaction['invoice']) }}
                        {% else %}
                            {{ form.invoice(class="form-control-file") }}
                        {% endif %}
                        {% if form.invoice.errors %}
                            {% for error in form.invoice.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>        
                    <div class="form-group pt-2">
                        {{ form.submit(class="btn btn-primary mt-2") }}
                    </div>
            </div>
        </div>
{% endblock content %}