{% extends 'ext/base.html' %}
{% block content %}
<div class="container-fluid d-flex align-items-center flex-column">
        <h1 class="my-5">Budget Analysis Report</h1>
        {% if report %}
        {% for cat in report %}
            <div class="col-10 my-1">
                <h2>{{ cat }}</h2>
                <p>
                    Percentage: {{ report[cat]['percentage'] }}%
                    <br>
                    Stat: {{ report[cat]['stat'] }}
                    <br>
                    Your amount on {{ cat }} is {{ report[cat]['stat'] }},{{ report[cat]['remark'] }}.
                </p>
            </div>
        {% endfor %}
    {% else %}
        <h3>Nothing to be shown.</h3>
    {% endif %}
    <a href="{{ url_for('home') }}"" class="btn btn-primary px-3 mb-5">Next</a>
    </div>
{% endblock content %}