{% extends 'ext/base.html' %}
{% block content %}
<div class="d-flex flex-column">
    <div class="card_container my-5">
        <div class="card-container">
            <div class="front">
                <div class="image">
                    <img src="{{ url_for('static', filename='src/card/chip.png') }}" alt="">
                    <img src="{{ url_for('static', filename='src/card/visa.png') }}" alt="">
                </div>
                <div class="card-number-box">
                    <span class="">{{ card['number'][:4] }}</span>
                    <span class="mx1">{{ card['number'][4:8] }}</span>
                    <span class="mx1">{{ card['number'][8:12] }}</span>
                    <span class="">{{ card['number'][12:] }}</span>
                </div>
                <div class="flexbox">
                    <div class="box">
                        <span>card holder</span>
                        <div class="card-holder-name">{{ card['name'] }}</div>
                    </div>
                    <div class="box">
                        <span>expires</span>
                        <div class="expiration">
                            <span class="exp-month">{{ card['month'] }}</span>
                            /
                            <span class="exp-year">{{ card['year'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="container my-5" style="width:50em;">
        <fieldset class="my-5 border rounded">
            <legend class="h1 text-center" style="margin-top:-.97em;">{{ date.strftime("%B") }}</legend>
            <div class="d-flex flex-column align-items-center">
                {% if categories %}
                    {% for cat in categories %}
                            <div class="col-9 d-flex justify-content-between">
                                <p class="my-2">{{ cat }}</p>
                                <p class="my-2">${{ "%.2f" % categories[cat] }}</p>
                            </div>
                            <hr style="width:80%;">
                    {% endfor %}
                {% else %}
                    <h3>Nothing to be shown.</h3>
                {% endif %}
            </div>
        </fieldset>
        <div class="d-flex justify-content-around">
            <a href="{{ url_for('add_expense') }}" class="btn btn-primary px-4">Add</a>
            <a href="{{ url_for('transactions_history' )}}" class="btn btn-primary px-4">History</a>
        </div>

    </div>
</div>
{% endblock content %}