{% extends 'ext/base.html' %}
{% block content %}
<div class="d-flex flex-column">
    <div class="card_container my-5">
        <div class="card-container">
            <div class="front">
                <div class="image">
                    <img src="{{ url_for('static', filename='src/card/chip.png') }}" alt="">
                    <img src="{{ url_for('static', filename='src/card/visa.png') }}" alt="">
                </div>
                <div class="card-number-box">{{ card['number'] }}</div>
                <div class="flexbox">
                    <div class="box">
                        <span>card holder</span>
                        <div class="card-holder-name">{{ card['name'] }}</div>
                    </div>
                    <div class="box">
                        <span>expires</span>
                        <div class="expiration">
                            <span class="exp-month">{{ card['month'] }}</span>
                            /
                            <span class="exp-year">{{ card['year'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="container my-5">
        <fieldset class="my-5 border rounded">
            <legend class="h2 text-center">January</legend>
            {% for cat in categories[:3] %}
                <div class="col-10 d-flex justify-content-between">
                    <p>{{ cat[0] }}</p>
                    <p>${{ cat[1] }}</p>
                </div>
            {% endfor %}
            <p class="text-center">
                <a class="small" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  View More
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {% for cat in categories[3:] %}
                    <div class="col-10 d-flex justify-content-between">
                        <p>{{ cat[0] }}</p>
                        <p>${{ cat[1] }}</p>
                    </div>
                {% endfor %}    
                </div>
            </div>
        </fieldset>
        <a href="{{ url_for('add_expense') }}" class="btn btn-primary">Add</a>
        <a href="" class="btn btn-primary">Services</a>
    </div>
</div>
{% endblock content %}