{% extends 'ext/base.html' %}
{% block content %}
    <div class="d-flex flex-column">
        <a href="{{ url_for('enter_income') }}">enter_income</a>
        <a href="{{ url_for('allocate_income') }}">allocate_income</a>
        <a href="{{ url_for('analysis_report') }}">analysis_report</a>
        <a href="{{ url_for('home') }}">home</a>
        <a href="{{ url_for('add_expense') }}">add_expense</a>
        <a href="{{ url_for('transactions_history') }}">transactions_history</a>
    </div>
{% endblock content %}