{% extends 'ext/base.html' %} {% block content %}
<div class="d-flex justify-content-center my-5">
    <div class="card col-10 bg-success shadow-lg py-2">
        <div class="card-body text-light">
            <h5 class="card-title">Total Expense ^</h5>
            <h3 class="card-text">$ {{ "%.2f" % total }}</h3>
        </div>
    </div>
</div>
<h1 class="text-center mb-4">Transactions History</h1>
<div class="d-flex flex-column align-items-center">
    {% if expenses %} {% for expense in expenses %}
    <div class="d-flex justify-content-around col-8">
        <div class="d-flex col-4">
            <div class="rounded">
                <div class="rounded-circle border overflow-hidden mt-2">
                    <img src="{{ url_for('static', filename='src/invoice/'+expense['invoice']) }}" alt=""
                        style="height: 4em; width: 4em"
                        data-bs-toggle="modal" data-bs-target="#id-{{ expenses.index(expense) }}" />
                </div>
                <div class="modal fade" id="id-{{ expenses.index(expense) }}" tabindex="-1" aria-labelledby="id-{{ expenses.index(expense) }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="id-{{ expenses.index(expense) }}Label">
                            {{ expense['name'] }}
                            <small class="text-secondary ms-2" style="font-weight: normal">{{ expense['category'] }}</small>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <img src="{{ url_for('static', filename='src/invoice/'+expense['invoice']) }}" alt=""
                            style="height:30em;margin-left:-.35em;">
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="ms-4">
                <p class="lead" , style="font-weight: bold; margin-top: 0.6em">
                    {{ expense['name'] }}
                    <small class="text-secondary ms-2" style="font-weight: normal">{{ expense['category'] }}</small>
                </p>
                <p class="text-secondary" style="margin-top: -0.8em">
                    {{ expense['date'] }}
                </p>
            </div>
        </div>
        <p class="text-danger h3 mt-4">-$ {{ "%.2f" % expense['amount'] }}</p>
    </div>
    {% endfor %} 
    {% else %}
    <h3>Nothing to be shown.</h3>
    {% endif %}
</div>
{% endblock content %}